body, html{
    min-height: 50%;
}
body{
    background-image: url("store.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 95% 70px;
    /*background-position:top center;*/
    background-size:500px 420px;
    /*background-size: right top;
    background-size: contain; */
    background-color: antiquewhite;
    font-family:perpetua;
    /*text-align: center;*/
    text-decoration-color: antiquewhite;
    color:darksalmon;
}
/*body ul li{
    display:inline-block;
}*/
h1{
    font-size:35px;
}